sudo: false

language: node_js

node_js:
  - 10.14.2

cache:
  yarn: true
  directories:
    - node_modules

before_install:
  - if [[ `npm -v` != 6* ]]; then npm install -g npm@6; fi
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.17.3
  - export PATH="$HOME/.yarn/bin:$PATH"

install:
  - yarn install --frozen-lockfile

addons:
  apt:
    sources:
      - mongodb-3.2-trusty
    packages:
      - mongodb-org-server
  artifacts:
    s3_region: us-west-2
    paths:
      - $(git ls-files -o deploy/*/*-*.tar.gz | tr "\n" ":")
    target_paths:
      - /

services:
  - docker
  - mongodb

script:
  - yarn lint
  - yarn test
  - ./artifact.sh
